<template>
  <div>
    <md-card class="md-layout-item">
      <md-card-content>
        <md-list>
          <md-list-item>
            <span class="md-list-item-text event-column">Event</span>
            <span class="md-list-item-text mark-column">Mark</span>
            <span class="md-list-item-text points-column">Score</span>
          </md-list-item>
          <md-list-item v-for="event in events" v-bind:key="events.name">
            <span class="md-list-item-text event-column">{{ camelToVisible(event.name) }}</span>
            <span class="md-list-item-text mark-column">
              <md-field>
                <label v-bind:for="event.name + '-input'">
                    {{ event.unit }}
                </label>
                <md-input name="100m" v-bind:key="events.name + '-result'"  v-model="event.result"
                          v-on:focusout="requestPoints(event.name, event.result)"/>
              </md-field>
            </span>
            <span class="md-list-item-text">{{ event.points }}</span>
          </md-list-item>
          <md-list-item>
            <span class="md-list-item-text event-column"></span>
              <span class="md-list-item-text mark-column"><h3>TOTAL:</h3></span>
            <span class="md-list-item-text points-column">{{ total }}</span>
          </md-list-item>
        </md-list>
        <md-card-actions class="md-layout-item md-xlarge-size-90 md-alignment-top-right">
          <md-button class="md-primary" :disabled="sending" v-on:click="calculateAll()">
            Calculate all
          </md-button>
        </md-card-actions>
      </md-card-content>

      <md-card-content>
        <form novalidate class="md-layout">
          <md-progress-bar md-mode="indeterminate" v-if="sending" />
          <div class="md-layout md-gutter md-xlarge-size-100 md-large-size-100 md-alignment-top-space-around">
            <md-card-header class="md-layout-item md-large-size-95 md-alignment-top-right">
              <h3>Enter your data, if you wish to save results</h3>
            </md-card-header>
            <div class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-45 md-small-size-95">
              <md-field>
                <label for="first-name">First Name</label>
                <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.firstName" :disabled="sending" />
              </md-field>
            </div>
            <div class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-45 md-small-size-95">
              <md-field>
                <label for="last-name">Last Name</label>
                <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="form.lastName" :disabled="sending" />
              </md-field>
            </div>
            <div class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-95 md-small-size-95">
              <md-field>
                <label for="competition">Memo (competition)</label>
                <md-input name="competition" id="competition" v-model="form.competition" :disabled="sending" />
              </md-field>
            </div>
          </div>
          <md-card-actions class="md-layout-item md-xlarge-size-90 md-large-size-90 md-alignment-top-right">
            <md-button type="submit" class="md-primary" v-on:click="saveData()" :disabled="sending">
              Save results
            </md-button>
          </md-card-actions>
        <md-snackbar :md-active.sync="snack">
          Response from api: {{ snackResponse }}
        </md-snackbar>
        <md-progress-bar v-if="sending" md-mode="indeterminate" />
        </form>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>

export default {
    name: 'Calculator',
    data: () => ({
        form: {
            firstName: null,
            lastName: null,
            competition: null,
        },
        events: {
            track_100m: {name: "track100m", points: null, result: null, unit: "Seconds"},
            long_jump: {name: "longJump", points: null, result: null, unit: "Meters"},
            shot_put: {name: "shotPut", points: null, result: null, unit: "Meters"},
            high_jump: {name: "highJump", points: null, result: null, unit: "Meters"},
            track_400m: {name: "track400m", points: null, result: null, unit: "Seconds"},
            track_110m_hurdles: {name: "track110mHurdles", points: null, result: null, unit: "Seconds"},
            discus_throw: {name: "discusThrow", points: null, result: null, unit: "Meters"},
            pole_vault: {name: "poleVault", points: null, result: null, unit: "Meters"},
            javelin_throw: {name: "javelinThrow", points: null, result: null, unit: "Meters"},
            track_1500m: {name: "track1500m", points: null, result: null, unit: "Seconds"}
        },
        snackResponse : null,
        snack: false,
        sending: false,
        total: 0,
        competition: null
    }),

    methods: {
        clearForm () {
            this.$v.$reset()
            this.form.firstName = null
            this.form.lastName = null
            this.form.competition = null
        },
        saveData () {
            this.sending = true
            const baseURI = 'http://localhost:8088/v1/archive';
            this.$http.post(baseURI, {
                    firstName: this.form.firstName,
                    lastName: this.form.lastName,
                    memo: this.form.memo,
                    events: this.getPostEvents()
                })
                .then(response => {
                    this.snack = true;
                    this.snackResponse = "Results saved"
                })
                .catch(e => {
                    this.snack = true;
                    this.snackResponse = e.message;
                })
                .finally(() => this.sending = false);

        },
        requestPoints (name, result) {
            if (this.events[this.camelToSnakeCase(name)].result == null) {
                return;
            }
            const baseURI = 'http://localhost:8088/v1/calculator?eventName=' +
                this.camelToSnakeCase(name) + '&result=' + result;
            this.$http.get(baseURI)
                .then(response => {
                    this.events[this.camelToSnakeCase(name)].points = response.data.points;
                    this.calculateTotal();
                })
                .catch(e => {
                    this.snack = true;
                    this.snackResponse = e.message;
                });

        },
        calculateAll () {
            const baseURI = 'http://localhost:8088/v1/calculator';
            this.sending = true;
            this.$http.post(baseURI, {events: this.getPostEvents()})
                .then(response => {
                    for (let e of response.data.events) {
                        this.events[e.eventName].points = e.points;
                    }
                    this.calculateTotal();
                })
                .catch(e => {
                    this.snack = true;
                    this.snackResponse = e.message;
                })
                .finally(() => this.sending = false);
        },
        camelToSnakeCase (str) {
            const lettersReplaced = str.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
            return lettersReplaced.replace(/(\d+)/g, "_$1");
        },
        camelToVisible (str) {
            const s = str.replace(/[A-Z]/g, letter => ` ${letter.toLowerCase()}`).replace(/(\d+)/g, " $1");
            return s.charAt(0).toUpperCase() + s.slice(1);
        },
        calculateTotal () {
            let total = 0;
            for (let e in this.events) {
                if (this.events[e].points !== null) {
                    total += this.events[e].points;
                }
            }
            this.total = total;
        },
        getPostEvents () {
            const events = []
            for (let e in this.events) {
                if (this.events[e].result !== null) {
                    events.push({
                        eventName: e,
                        result: this.events[e].result
                    })
                }
            }
            return events;
        }
    }
}
</script>

<style lang="scss" scoped>
.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.md-list {
    min-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
}
.event-column {
    width: 80px;
    display: block;
}
.mark-column {
    width: 80px;
    display: block;
  padding-right: 20px;
}
.points-column {
    width: 80px;
}
</style>