<template>
    <div>
        <md-table v-model="records" md-card @md-selected="onSelect">
            <md-table-toolbar>
                <h1 class="md-title">Saved decathlon results</h1>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
                <md-table-cell md-label="First name" md-sort-by="firstName">{{ item.firstName }}</md-table-cell>
                <md-table-cell md-label="Last name" md-sort-by="lastName">{{ item.lastName }}</md-table-cell>
                <md-table-cell md-label="Total points" md-sort-by="totalPoints">{{ item.totalPoints }}</md-table-cell>
            </md-table-row>
        </md-table>
        <md-dialog :md-active.sync="showEvents">
            <md-dialog-title>Events</md-dialog-title>
            <md-table v-model="selected">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Event name" md-sort-by="eventName">{{ camelToVisible(item.eventName) }}</md-table-cell>
                    <md-table-cell md-label="Result" md-sort-by="result" md-numeric>{{ item.result }}</md-table-cell>
                    <md-table-cell md-label="Points" md-sort-by="points" md-numeric>{{ item.points }}</md-table-cell>
                </md-table-row>
            </md-table>
        </md-dialog>
    </div>
</template>

<script>
export default {
    name: 'SavedResults',
    data: () => ({
        selected: [],
        records: [],
        showEvents: false,
    }),
    mounted: function () {
        this.$nextTick(function () {
            const baseURI = 'http://localhost:8088/v1/archive/list'
            this.$http.get(baseURI)
                .then(resp => {
                    this.records = resp.data.records;
                })
                .catch(e => console.log(e));
        })
    },
    methods: {
        onSelect (item) {
            this.showEvents = true;
            this.selected = item.events;
        },
        camelToVisible (str) {
            const s = str.toLowerCase().replaceAll('_', ' ').replace(/(\d+)/g, " $1");
            return s.charAt(0).toUpperCase() + s.slice(1);
        },
    }
}
</script>

<style lang="scss" scoped>
.md-table + .md-table {
    margin-top: 16px
}
</style>