<template>
  <div class="page-container">
    <md-tabs md-sync-route style="min-height: 100vh;">
      <md-tab id="tab-calculator" md-label="Calculator" to="/calculator" exact>
        <calculator />
      </md-tab>
      <md-tab id="tab-saved-results" md-label="Saved results" to="/saved-results">
        <saved-results />
      </md-tab>
    </md-tabs>
  </div>
</template>
// https://material.io/resources/icons/?icon=clear&style=baseline

<script>

    import Calculator from "@/components/Calculator";
    import SavedResults from "@/components/SavedResults";

    export default {
        name: 'TabContent',
        components: {
            Calculator,
            SavedResults,
        },
        data() {
            return {
                loading: false,
                menuVisible: false
            }
        },
        methods: {
            ping: function () {
                const baseURI = 'http://localhost:8088/v1/public-api/ping'
                this.$http.get(baseURI)
                    .then(result => console.log(result))
                    .catch(e => console.log(e));
            },
        },
        rules: [
            // ... other rules omitted

            // this will apply to both plain `.scss` files
            // AND `<style lang="scss">` blocks in `.vue` files
            {
                test: /\.scss$/,
                use: [
                    'vue-style-loader',
                    'css-loader',
                    'sass-loader'
                ]
            }
        ]
    }
</script>

<style lang="scss" scoped>
    .md-app {
        height: 100%;
        border: 1px solid rgba(#000, .12);
    }
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
</style>
